.home{
  background-size: cover;
  height:100vh;
  background-image: url('../assets/images/bobs-home.jpg')
}
.home-message{
  position: absolute;
  color: white;
  margin-left: 5%;
}
h1{
  font-family: 'Oswald', sans-serif;
  font-size: 7.2em;
}
p{
  font-family: 'Nunito', sans-serif;
  font-size: 2em;
}
