<app-navigation></app-navigation>
<div class="home">
  <div class="home-message">
      <h1>Bobs Repair Shop</h1>
      <p style="width:50%">We offer repair and salvaging for many different types of devices including computers, smartphones, tablets, gaming consoles etc....</p>
     <button mat-flat-button color=accent style="margin-right: 10px">View Services</button>
  <button mat-flat-button color=primary>Get Repair</button>
  </div>
</div>
<div class="services">

</div>
<router-outlet></router-outlet>
